body{
    display: flex;
    align-items: center;
    background-color: #fafafa;
    justify-content: center;
    margin: 30px 0px 20px 120px;
    font-family: sans-serif;
}

.ladoesquerdo{
    display: flex;
    align-items: center;
    width: 30%;
}

.ladoesquerdo img{
    height: 40rem;
}

.ladodireito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.instagram_logo{
    height: 3.5rem;
    padding: 30px 90px 40px 90px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgrey;
    background-color: white;
}

.dados_de_contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 70px 10px 7px;
    border: 1px solid lightgrey;
    border-radius: 4%;
    font-family: sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    color: grey;
}

.senha{
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 10px 70px 10px 7px;
    border: 1px solid lightgrey;
    border-radius: 4%;
    font-family: sans-serif;
    font-size: 13px;
    color: grey;
}

.entrar_instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    border-radius: 4%;
    font-family: sans-serif;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
}

.divisoria{
    color: grey;
    margin: 5px 70px 9px 70px;
}

.entra_com_face{
    display: flex;
    align-items: center;
    color: darkblue;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 70px 25px 70px;
}

.face_logo{
    align-items: center;
    margin-right: 8px;
    height: 1rem;
}

.esqueceu_senha{
    display: flex;
    align-items: center; 
    color: darkblue;
    font-size: 12px;
    margin: 0px 100px 20px 100px;
}

.cadastro{
    align-items: center;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 14.5px;
    margin: 13px 100px 5px 100px;
    padding: 10px 78px 10px 78px;
}

.cor_cadastro{
    color: rgb(91, 189, 250);
    font-weight: 600;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 10px 78px 0px 78px;
}

.lojas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}

.lojas img{
    height: 3rem;
}

.lojaapple{
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.lojagoogle{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
